<main class="desk">
    <header>
        <h2>Pixel to EM</h2>
        <p>Font Converter - Progressive Web App</p>
    </header>
    <div class="container">
        <div class="content">
            <p>
                Morbi mattis mi consectetur tortor elementum, varius pellentesque velit convallis.
                Aenean tincidunt lectus auctor mauris maximus, ac scelerisque ipsum tempor.
            </p>
            <div class="thumbnail-col">
                <h4>Lorem</h4>
                <img class="thumbnail" src="/assets/images/app/app-photo01.png" alt="">
                <p class="thumbnail-text">
                    Morbi mattis mi consectetur tortor elementum, varius pellentesque velit convallis.
                    Aenean tincidunt lectus auctor mauris maximus, ac scelerisque ipsum tempor.
                </p>
            </div>
            <div class="thumbnail-col">
                <h4>Lorem</h4>
                <img class="thumbnail" src="/assets/images/app/app-photo01.png" alt="">
                <p class="thumbnail-text">
                    Morbi mattis mi consectetur tortor elementum, varius pellentesque velit convallis.
                    Aenean tincidunt lectus auctor mauris maximus, ac scelerisque ipsum tempor.
                </p>
            </div>
            <footer>
                <p class="left">
                    <a href="http://opensource.org/licenses/MIT" target="_blank">MIT</a> &middot;
                    <i class="fa fa-copyright"></i> {{ site.time | date: '%Y' }} {{ site.title }} <br>
                </p>
                <p class="right">
                    Developed by <a href="{{ site.author }}" target="_blank">@fschmidt</a>
                </p>
            </footer>
        </div>
    </div>
</main>