<meta property="og:locale" content="alternate"/>
<meta property="og:type" content="{% if page.layout == 'post' %}article{% else %}blog{% endif %}"/>
<meta property="og:url" content="{{ site.url }}{% if page.url != '/index.html' %}{{ page.url }}{% endif %}"/>
<meta property="og:title" content="{% if page.title %}{{ page.title }} &bullet;{% endif %} {{ site.name }}"/>
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>
<meta property="og:site_name" content="{{ site.name }}"/>
<meta property="og:image" content="{% if page.image %}{{ site.url }}/assets/images/post/{{ page.image }}{% else %}{{ site.url }}/assets/images/{{ site.image }}{% endif %}"/>
<meta property="og:image:type" content="image/jpg"/>

<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="@{{ site.twitter_user }}"/>
<meta name="twitter:title" content="{% if page.title %}{{ page.title }} &bullet;{% endif %} {{ site.name }}"/>
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>
<meta name="twitter:url" content="{{ site.url }}{% if page.url != '/index.html' %}{{ page.url }}{% endif %}"/>
<meta name="twitter:creator" content="@{{ site.twitter_user }}"/>
<meta name="twitter:image" content="{%if page.image %}{{ site.url }}/assets/images/post/{{ page.image }}{% else %}{{ site.url }}/assets/images/{{ site.image }}{% endif %}"/>
<meta name="twitter:account_id" content=""/>