<nav class="nav-extended parallax-container">
    <div class="nav-wrapper">
        <h4 class="brand-logo">Pixel to EM</h4>
        <a href="s#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <div class="dropdown">
            <i class="material-icons right waves-effect waves-light waves-circle dropdown-button" data-activates="sub-menu" data-gutter="5" data-constrainwidth="false">more_vert</i>
            <ul id="sub-menu" class="dropdown-content right" style="margin-left: 1em;">
                <li><a class="black-text" href="https://github.com/fcschmidt/pixel-to-em" target="_blank">Source code</a></li>
                <li><a class="black-text" href="https://twitter.com/fcschimidt" target="_blank">by @fcschmidt</a></li>
            </ul>
        </div>
    </div>
    <div class="nav-content">
        <ul class="tabs tabs-fixed-width tabs-transparent">
            <li class="tab"><a class="active" href="#index">To convert</a></li>
            <li class="tab"><a class="" href="#default_size">Default size</a></li>
        </ul>
    </div>
</nav>
<ul class="side-nav" id="mobile-demo">
    <h4 class="logo">Pixel to EM</h4>
    <li><a href="calc.html">Calculation Method</a></li>
    <li><a href="featured.html">Featured</a></li>
</ul>