<nav class="nav-extended parallax-container">
    <div class="nav-wrapper">
        <h4 class="brand-logo">Pixel to EM</h4>
        <a href="s#" data-activates="mobile-demo" class="button-collapse">
            <i class="material-icons">menu</i>
        </a>
    </div>
    <div class="nav-content">
        <ul class="tabs transparent">
            <li class="tab">
                <a href="#index" class="white-text waves-effect waves-light">
                    To convert
                </a>
            </li>
            <li class="tab">
                <a href="#default_size" class="white-text waves-effect waves-light">
                    Default size
                </a>
            </li>
        </ul>
    </div>
</nav>
<ul class="side-nav" id="mobile-demo">
    <h4 class="logo">Pixel to EM</h4>
    <li><a href="calc.html" class="white-text waves-effect waves-light">Calculation Method</a></li>
    <li><a href="featured.html" class="white-text waves-effect waves-light">Featured</a></li>
    <li><a href="https://github.com/fcschmidt/pixel-to-em" rel="noopener" target="_blank">Source Code</a></li>
    <li><a href="https://twitter.com/fcschimidt" rel="noopener" target="_blank">by @fcschmidt</a></li>
</ul>
